<div class="demo-button-row">
  Buttons
  <button mat-button title="mat-button: Rectangular text button w/ no elevation" [color]="buttonColor" (click)="onClickButton()">
    <mat-icon>face</mat-icon>
    {{ buttonName }}
  </button>
  <button mat-raised-button title="Rectangular contained button w/ elevation">
    <mat-icon>info</mat-icon>
    mat-raised-button
  </button>
  <button mat-flat-button title="Rectangular contained button w/ no elevation">
    <mat-icon>lock</mat-icon>
    mat-flat-button
  </button>
  <button mat-stroked-button title="Rectangular outlined button w/ no elevation">
    <mat-icon>grade</mat-icon>
    mat-stroked-button
  </button>
  <button mat-icon-button color="accent" title="mat-icon-button: Circular button with a transparent background, meant to contain an icon"
    (click)="matIconButtonToggle = !matIconButtonToggle">
    <mat-icon>{{matIconButtonToggle ? 'favorite' : 'favorite_border'}}</mat-icon>
  </button>
  <button mat-fab title="mat-fab: Circular button w/ elevation, defaults to theme's accent color">
    <mat-icon>event</mat-icon>
  </button>
  <button mat-mini-fab title="mat-mini-fab: Same as mat-fab but smaller" (click)="matMiniFabToggle = !matMiniFabToggle">
    <mat-icon *ngIf="matMiniFabToggle">done</mat-icon>
  </button>
</div>

<div class="demo-button-row">
  Links
  <a mat-button routerLink=".">Link</a>
  <a mat-raised-button routerLink=".">Link</a>
  <a mat-stroked-button routerLink=".">Link</a>
  <a mat-flat-button routerLink=".">Link</a>
  <a mat-fab routerLink=".">Link</a>
  <a mat-mini-fab routerLink=".">Link</a>
</div>


<div>
  Checkbox
  <mat-checkbox>mat-checkbox</mat-checkbox>
</div>
