<div class="star-container" [title]="rating" (click)="onClick()">
  <div class="star-base" [style.width.rem]="starNum">
    <span class="star-item fa fa-star-o" *ngFor="let i of starNum | xrange"></span>
  </div>
  <div class="star-over" [style.width.rem]="rating">
    <div [style.width.rem]="starNum">
      <span class="star-item fa fa-star" *ngFor="let i of starNum | xrange"></span>
    </div>
  </div>
  <!-- <div class="star-user" [style.width.rem]="starNum">
    <span class="star-item fa fa-star" *ngFor="let i of starNum | xrange"></span>
  </div> -->
</div>
