<div class="row" *ngIf="monthCount">
  <div class="col-md-4">
    <h4>
      Number of months on the market: {{ monthCount }}
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <app-product-shell-list [products]="state.products$ | async" [currentProduct]="state.selectedProduct$ | async"
      [displayCode]="state.displayCode$ | async" (currentProductChange)="state.selectProduct($event)"
      (displayCodeChange)="state.showProductCode($event)">
    </app-product-shell-list>
  </div>
  <div class="col-md-8">
    <app-product-shell-info [product]="state.selectedProduct$ | async"></app-product-shell-info>
  </div>
</div>

<div *ngIf="state.errorMessage$ | async as errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
