<div class="modal-header">
  <h4 class="modal-title">Modal Title</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <label class="d-block">Width: {{ width }} px</label>
        <input type="range" name="m_width" class="form-control form-control-range form-control-sm w-25 d-inline-flex"
          [(ngModel)]="width" min="32" max="2048" step="2" />
      </div>
      <div class="col">
        <label class="d-block">Height: {{ height }} px</label>
        <input type="range" name="m_height" class="form-control form-control-range form-control-sm w-25 d-inline-flex"
          [(ngModel)]="height" min="32" max="2048" step="2" />
      </div>
    </div>

  </div>
  <div>
    <canvas #canvas [width]="width" [height]="height"></canvas>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()">
    Save
  </button>
  <button class="btn btn-secondary" (click)="dismiss()">
    Cancel
  </button>
</div>
