$m-width: 80px;

$r: 8px;
$border-radius-first: $r 0 0 0;
$border-radius-last: 0 $r 0 0;

$color-link: #EFEFEF;
$color-active: #007ACC;
$color-active-text: #FFF;

.mw80 {
  min-width: $m-width;
}

.fa-exclamation {
  color: red;
}

.wizard a {
  background: $color-link;
  display: inline-block;
  margin-right: 5px;
  min-width: 150px;
  outline: none;
  padding: 10px 40px 10px;
  position: relative;
  text-decoration: none;
}

.wizard a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Adds the cut out on the left side of the tab */
.wizard a:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 24px inset transparent;
  border-left: 20px solid $color-active-text;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

/* Adds the arrow on the right side of the tab */
.wizard a:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 24px inset transparent;
  border-left: 20px solid $color-link;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}

/* Squares the start and end of the tab bar */
.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}

/* Rounds the corners */
.wizard a:first-child {
  -webkit-border-radius: $border-radius-first;
  -moz-border-radius: $border-radius-first;
  border-radius: $border-radius-first;
}

.wizard a:last-child {
  -webkit-border-radius: $border-radius-last;
  -moz-border-radius: $border-radius-last;
  border-radius: $border-radius-last;
}

.wizard .active {
  background: $color-active;
  color: $color-active-text;
}

/* Adds the right arrow after the tab */
.wizard .active:after {
  border-left-color: $color-active;
}
