<button *ngIf="values && values.length === 1" type="button" class="btn" (click)="select(0)" [title]="titles[0] || ''"
  [ngClass]="values[0] === value ? classOn : classOff">
  {{name}}
</button>

<div *ngIf="values && values.length > 1" class="btn-group" appDropdown>
  <button type="button" class="btn" (click)="select(selection)" [title]="titles[selection] || ''"
    [ngClass]="values[selection] === value ? classOn : classOff">
    {{name}}
    <span class="badge badge-dark">
      {{values[selection]}}
    </span>
  </button>
  <button type="button" class="btn dropdown-toggle-split" appDropdownToggle
    [ngClass]="values[selection] === value ? classOn : classOff"></button>
  <div class="dropdown-menu" appDropdownMenu>
    <div [class.menu-small]="values.length > 5">
      <button type="button" appDropdownItem *ngFor="let v of values; index as i" [title]="titles[i] || ''"
        (click)="select(i)" [class.active]="values[i] === value">
        {{v}}
      </button>
    </div>
  </div>
</div>
