<h2>
  Button

  <button mat-button title="Rectangular text button w/ no elevation">mat-button</button>
  <button mat-button title="Rectangular contained button w/ elevation">mat-raised-button</button>
  <button mat-button title="Rectangular contained button w/ no elevation">mat-flat-button</button>
  <button mat-button title="Rectangular outlined button w/ no elevation">mat-stroked-button</button>
  <button mat-button title="Circular button with a transparent background, meant to contain an icon">mat-icon-button</button>
  <button mat-button title="Circular button w/ elevation, defaults to theme's accent color">mat-fab</button>
  <button mat-button title="Same as mat-fab but smaller">mat-mini-fab</button>
</h2>

<h2>
  Checkbox
  <mat-checkbox>mat-checkbox</mat-checkbox>
</h2>

<router-outlet></router-outlet>


<h2>
  <a target="_blank" rel="noopener" href="https://material.angular.io/components/categories">
    Angular Material Components
  </a>
</h2>
