<span class="fa fa-spinner spinner" *ngIf="loading"></span>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <ul class="nav nav-tabs">
    <li class="n-item">
      <a class="nav-link" routerLink="/welcome" routerLinkActive="active">Home</a>
    </li>
    <li class="n-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Product List</a>
    </li>
    <li class="n-item">
      <a class="nav-link" [routerLink]="['/products', '0', 'edit']" routerLinkActive="active">
        Add Product
      </a>
    </li>
    <li class="n-item">
      <a class="nav-link" routerLink="/customer" routerLinkActive="active">Customer Form</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="n-item" *ngIf="isLoggedIn">
      <a class="nav-link">Welcome {{ username }}</a>
    </li>
    <li class="n-item">
      <a *ngIf="!isMessagesDisplayed" class="nav-link" (click)="displayMessages()">
        Show Messages
      </a>
      <a *ngIf="isMessagesDisplayed" class="nav-link" (click)="hideMessages()">
        Hide Messages
      </a>
    </li>
    <li class="n-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Log In</a>
    </li>
    <li class="n-item" *ngIf="isLoggedIn">
      <a class="nav-link" (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
<!-- <nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Product List</a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/customer']" routerLinkActive="active">Customer Form</a>
    </li>
  </ul>
</nav> -->
<div class="tab-pane">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-10" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"> -->
      <div class="col-md-10">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <div class="col-md-2">
        <router-outlet name="popup"></router-outlet>
      </div>
    </div>
  </div>
</div>
