<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="app-sidenav" mode="side">
    <mat-toolbar color="primary">Contacts</mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem"><a target="_blank" rel="noopener" href="https://material.angular.io/components/categories">
          Angular Material Components
        </a></mat-list-item>
      <mat-list-item role="listitem"><a target="_blank" rel="noopener" href="https://material.io/tools/icons/?style=baseline">
          Material Icons
        </a></mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="app-sidenav-content">
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>

    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>
