<ngx-loading [show]="loading">
</ngx-loading>

<label for="typeahead-basic">Search for a word:</label>
<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />

<table class="table">
  <thead>
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of items">
      <th scope="row">{{book.id}}</th>
      <td>{{book.name}}</td>
      <td>{{book.info}}</td>
      <td>
        <button class="btn" *ngIf="deleteItem !== book" (click)="deleteBook(book)" [disabled]="loading">Delete</button>
        <div *ngIf="deleteItem === book" class="progress" style="height: 3px;">
          <div class="progress-bar" role=progressbar aria-valuemin=0 aria-valuemax=100 [style.width.%]="deleteProgress">
          </div>
        </div>
      </td>
      <!-- <td>{{book.date}}</td> -->
    </tr>
    <tr>
      <th scope="row">
        <button *ngIf="!showAddDictionary" class="btn btn-outline-success" type="button"
          (click)="showAddDictionary = !showAddDictionary" title="Add local dictionary file">
          New <i class="material-icons md-align-bottom">library_add</i>
        </button>
      </th>
      <td></td>
      <td></td>
      <td>
      </td>
    </tr>
  </tbody>
  <!-- <a class="btn btn-primary" role="button" routerLink="/dict/add" routerLinkActive="active">New</a> -->
</table>
<div class="container">
  <button *ngIf="showAddDictionary" class="btn btn-sm btn-outline-secondary float-right" type="button"
    (click)="showAddDictionary = !showAddDictionary" title="close">
    <i class="material-icons md-align-bottom">close</i>
  </button>
  <app-add-dictionary *ngIf="showAddDictionary" (dictionaryChange)="getBooks()"></app-add-dictionary>
</div>

<app-dictionary-search (wordChange)="onWordChange($event)"></app-dictionary-search>
<textarea cols="100" rows="20" [ngModel]="cards"></textarea>
