<div class="container-fluid">

  <div class="row">
    <div class="col-sm-6">
      <label class="btn btn-light" title="Choose a sprite file (image)">
        Sprite:
        <!-- <input class="form-control-file" type="file" [multiple]="false" (change)="loadSprites($event)" placeholder="Upload file..." /> -->
        <input type="file" [multiple]="false" (change)="loadSprites($event)" placeholder="Upload file..." />
      </label>
    </div>
    <div class="col-sm-6">
      <label class="btn btn-light" title="Choose a frame file (json)">
        Frame:
        <input type="file" [multiple]="false" (change)="loadFrames($event)" placeholder="Upload file..." />
      </label>
      <button class="btn btn-info" (click)="packFrames()">
        Pack
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="overflow-auto">
        <canvas #canvas [width]="width" [height]="height" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
          (mousemove)="onMouseMove($event)"></canvas>
      </div>
      <!-- <div class="test-border" [style.width.px]="width" [style.height.px]="height"> -->
      <!-- </div> -->
    </div>
    <div class="col-sm-6">
      <table class="table table-striped table-hover">
        <thead>
          <th class="w-25">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
              </div>
              <input type="text" name="m_namefilter" class="form-control" [(ngModel)]="nameFilter" placeholder="filter">
              <div *ngIf="nameFilter.length > 0" class="input-group-append" (click)="nameFilter = ''">
                <button class="input-group-text" title="Clear filter">&times;</button>
              </div>
            </div>
          </th>
          <th>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="text" name="m_xfilter" class="form-control" [(ngModel)]="xFilter" placeholder="filter">
              <div *ngIf="xFilter.length > 0" class="input-group-append" (click)="xFilter = ''">
                <button class="input-group-text" title="Clear filter">&times;</button>
              </div>
            </div>
          </th>
          <th>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="text" name="m_yfilter" class="form-control" [(ngModel)]="yFilter" placeholder="filter">
              <div *ngIf="yFilter.length > 0" class="input-group-append" (click)="yFilter = ''">
                <button class="input-group-text" title="Clear filter">&times;</button>
              </div>
            </div>
          </th>
          <th>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="text" name="m_wfilter" class="form-control" [(ngModel)]="wFilter" placeholder="filter">
              <div *ngIf="wFilter.length > 0" class="input-group-append" (click)="wFilter = ''">
                <button class="input-group-text" title="Clear filter">&times;</button>
              </div>
            </div>
          </th>
          <th>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="text" name="m_hfilter" class="form-control" [(ngModel)]="hFilter" placeholder="filter">
              <div *ngIf="hFilter.length > 0" class="input-group-append" (click)="hFilter = ''">
                <button class="input-group-text" title="Clear filter">&times;</button>
              </div>
            </div>
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" name="m_name" class="form-control" [(ngModel)]="newFrame.name" />
            </td>
            <td>
              <input type="number" name="m_x" class="form-control" [(ngModel)]="newFrame.x" />
            </td>
            <td>
              <input type="number" name="m_y" class="form-control" [(ngModel)]="newFrame.y" />
            </td>
            <td>
              <input type="number" name="m_w" class="form-control" [(ngModel)]="newFrame.w" />
            </td>
            <td>
              <input type="number" name="m_h" class="form-control" [(ngModel)]="newFrame.h" />
            </td>
            <td>
              <button class="btn btn-primary btn-sm" [disabled]="!isNewFrameValid" (click)="addFrame()">Add</button>
            </td>
          </tr>
          <tr *ngFor="let name of frameNamesPaged">
            <td>
              <ngb-highlight [result]="name" [term]="nameFilter"></ngb-highlight>
            </td>
            <td>{{frames[name].x}}</td>
            <td>{{frames[name].y}}</td>
            <td>{{frames[name].w}}</td>
            <td>{{frames[name].h}}</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button ngbDropdownToggle class="btn btn-outline-primary btn-sm">
                  Action
                </button>
                <div ngbDropdownMenu>
                  <button class="dropdown-item" (click)="editFrame(name)">Edit</button>
                  <button class="dropdown-item" (click)="copyFrame(name)">Copy</button>
                  <div role="separator" class="dropdown-divider"></div>
                  <button class="dropdown-item" (click)="deleteFrame(name, confirmDlg)">Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="frameNames.length > 10" class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="frameNames.length" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option *ngFor="let n of [10, 20, 30, 40, 50]" [ngValue]="n">{{n}} items per page</option>
        </select>
      </div>
    </div>
  </div>

</div>



<!-- <div class="row mh-100"> -->

<!-- <div *ngIf="sprite"> -->
<!-- <img [src]="data" [alt]="name" /> -->
<!-- </div> -->

<div *ngIf="frames">
  <!-- <ul class="list-group">
    <li *ngFor="let name of frameNames;let i = index" class="list-group-item list-group-item-action" [class.active]="i===selection"
      (click)="selection=i">{{name}}</li>
  </ul> -->
  {{frames | json}}
</div>

<ng-template #confirmDlg let-dlg>
  <div class="modal-header">
    <h4 class="modal-title">
      Delete?
    </h4>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="dlg.close()">
      Yes (Delete)
    </button>
    <button class="btn btn-danger" (click)="dlg.dismiss()">
      No (Cancel)
    </button>
  </div>
</ng-template>
