<div class="container mt-3">
  <h2>Add Dictionary File</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" [class.active]="activeTab === 0" (click)="activeTab = 0">
        Upload
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1">
        Preview
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2">
        Add To IndexedDB
      </button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="container tab-pane" [class.active]="activeTab === 0" [class.fade]="activeTab !== 0">
      <!-- <h3>Form</h3> -->
      <app-upload-dictionary-file (uploadChange)="onUpload($event)" (errorChange)="onUploadError($event)">
      </app-upload-dictionary-file>
    </div>
    <div class="container tab-pane" [class.active]="activeTab === 1" [class.fade]="activeTab !== 1">
      <!-- <h3>List</h3> -->
      <app-preview-dictionary [items]="words" [name]="name"></app-preview-dictionary>
    </div>
    <div class="container tab-pane" [class.active]="activeTab === 2" [class.fade]="activeTab !== 2">
      <app-add-dictionary-to-db [items]="words" [name]="name" (addBookChange)="dictionaryChange.emit($event)">
      </app-add-dictionary-to-db>
    </div>
  </div>
</div>
<!-- <a class="btn btn-primary" role="button" routerLink="/dict/shelf" routerLinkActive="active">Go to Shelf</a> -->
