<div class="mat-elevation-z2">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    <span *ngIf="filter" [matBadge]="filteredNotes.length" matBadgeOverlap="false"></span>
  </mat-form-field>

  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="id">No.</th>
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="date">Date</th>
    </tr>
    <tr *ngFor="let note of filteredNotes">
      <td>{{ note.id }}</td>
      <td>{{ note.title }}</td>
      <td>{{ note.date | date:'yyyy-MM-dd'}}</td>
    </tr>
  </table>

  <mat-paginator *ngIf="notes && notes.length" [length]="notes.length" [pageSize]="pageSize" [pageSizeOptions]="[2,3,4,5]"
    (page)="onPageEvent($event)">
  </mat-paginator>
</div>
