<app-multi-button *ngFor="let b of buttons" [name]="b.name" [titles]="b.titles" [values]="b.values" [value]="value"
  (valueChange)="valueChange.emit(value = $event)" classOff="btn-outline-primary" classOn="btn-primary">
</app-multi-button>
<div appDropdown #drop="appDropdown" class="btn-group" autoClose="outside">
  <button type="button" class="btn btn-outline-info hide-dropdown-toggle" appDropdownToggle
    [title]="drop.opened ? 'Less' : 'More'">
    <i class="material-icons md-sm">
      {{drop.opened ? 'expand_less' : 'expand_more'}}
    </i>
  </button>
  <div appDropdownMenu>
    <div [class.menu-small]="buttons.length > 5">
      <button type="button" *ngFor="let b of buttons; index as i" appDropdownItem (click)="removeButtonAt.emit(i)"
        [title]="'Remove ' + b.name + ' from Toolbar'">
        <span class="text-danger">&#8722;</span>
        {{b.name}}
      </button>
    </div>
    <div *ngIf="buttons.length > 0" class="dropdown-divider"></div>
    <div [class.menu-small]="tags.length > 5">
      <button type="button" *ngFor="let t of tags" appDropdownItem (click)="addButton.emit(t)"
        [title]="'Add ' + t + ' to Toolbar'">
        <span class="text-success">&#43;</span>
        {{t}}
      </button>
    </div>
  </div>
</div>
