<div>
  <div class="jumbotron">
    <h1 class="display-3">Workout Tracker</h1>
    <hr class="my-4" />
    <p>
      Welcome to Workout Tracker!
    </p>

    <!-- <div ngbDropdown>
      <button class="btn btn-primary" ngbDropdownToggle>
        Navigation
      </button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">Home</button>
        <button class="dropdown-item">Workouts</button>
        <button class="dropdown-item">Admin</button>
      </div>
    </div> -->

    <div class="btn-group">
      <button class="btn btn-primary">
        Navigation
      </button>
      <div class="btn-group" ngbDropdown>
        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
        <div ngbDropdownMenu>
          <button class="dropdown-item">Home</button>
          <button class="dropdown-item">Workouts</button>
          <button class="dropdown-item">Admin</button>
        </div>
      </div>
    </div>

  </div>

  <ngb-accordion closeOthers="true" activeIds="panel_1" #acc="ngbAccordion">
    <ngb-panel id="panel_1">
      <ng-template ngbPanelTitle>
        <p class="font-weight-bold">
          Welcome to Run
        </p>
      </ng-template>
      <ng-template ngbPanelContent>
        <h3>
          A Short Run Is Better Than No Run
        </h3>
        <div>
          When your schedule feels too packed, you may be tempted to cancel your workout first. But there's no need
          with these 3 awesome runs. Each one takes only 15 minutes, but still gets your heart rate up and your blood
          pumping.
        </div>
        <div class="float-right">
          <button class="btn btn-info" (click)="acc.toggle('panel_2')">Next</button>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Row" id="panel_2">
      <ng-template ngbPanelContent>
        Warm Up to Stretching Before & After Your Row
        <div class="float-right">
          <button class="btn btn-info" (click)="acc.toggle('panel_3')">Next</button>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Bike" id="panel_3">
      <ng-template ngbPanelContent>
        <p>
          Both training types have their pros and cons, but choosing the right one for you is largely dependent on your
          running goals. We'll help you find out how to train to maximize your performance.
        </p>
        <p>
          Enjoy!
        </p>
        <div class="float-right">
          <button class="btn btn-info" (click)="acc.toggle('panel_3')">Close</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
