<mat-toolbar color="primary">
  <button mat-button (click)="toggleMenu.emit()" class="menu-toggler">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    Contacts Manager
  </span>
  <span class="menu-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" title="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addContact.emit()">
      <mat-icon>add_circle</mat-icon>
      New Contact
    </button>
  </mat-menu>
</mat-toolbar>
