$iconSize: 56px;

.menu-toggler {
  /*by default don't display it at all*/
  display: none;

  padding: 0;
  margin: 8px;
  min-width: $iconSize;

  @media (max-width: 720px) {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
    color: azure;
  }
}
